.left_heading {
  font-size: 60px;
}
.p_heading {
  padding: 16px;
  line-height: 27px;
}
/* RealTime Reporting  */
@media (max-width: 600px) {
  .responsive_img {
    right: 0px !important;
    width: 50% !important;
  }
  .wrapping {
    flex-wrap: wrap;
  }
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: none;
}
